.second-section {
  .second-section__image {
    width: 370px;
    height: 216px;
    background-color: #e2e2e2;
    border-radius: 16px;
  }

  .second-section__description {
    margin-bottom: 12px;
  }
}
