<section class="first-page">
  <div class="horizontal-wrapper">
    <app-image></app-image>
    <div class="vertical-wrapper">
      <app-main-heading [title]="'Main heading'"></app-main-heading>
      <p class="description first-page__description">Идейные соображения высшего порядка, а также сложившаяся структура
        организации позволяет оценить значение новых предложений. Равным образом рамки и место обучения кадров
        представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Идейные
        соображения высшего порядка, а также сложившаяся структура
        организации позволяет оценить значение новых предложений. Равным образом рамки и место обучения кадров
        представляет собой интересный эксперимент проверки существенных финансовых и административных условий.</p>
      <p class="description">
        Таким образом укрепление и развитие структуры способствует подготовки и реализации направлений прогрессивного
        развития.
        Идейные соображения высшего порядка, а также сложившаяся структура
        организации позволяет оценить значение новых предложений. Равным образом рамки и место обучения кадров
        представляет собой интересный эксперимент проверки существенных финансовых и административных условий.
      </p>
    </div>
  </div>
  <div class="vertical-wrapper">
    <app-secondary-heading [title]="'Secondary heading'"></app-secondary-heading>
    <p class="description first-page__description">Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей
      деятельности влечет за собой процесс внедрения и модернизации систем массового участия. С другой стороны рамки и
      место обучения кадров представляет собой интересный эксперимент проверки соответствующий условий активизации.
      Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за
      собой процесс внедрения и модернизации систем массового участия. С другой стороны рамки и место обучения кадров
      представляет собой интересный эксперимент проверки соответствующий условий активизации.</p>

    <p class="description first-page__description">Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей
      деятельности влечет за собой процесс внедрения и модернизации систем массового участия. С другой стороны рамки и
      место обучения кадров представляет собой интересный эксперимент проверки соответствующий условий активизации.
      Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за
      собой процесс внедрения и модернизации систем массового участия. С другой стороны рамки и место обучения кадров
      представляет собой интересный эксперимент проверки соответствующий условий активизации.</p>
  </div>
</section>
