* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: sans-serif;
  text-transform: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

.horizontal-wrapper {
  display: flex;
  gap: 24px;
}

.vertical-wrapper {
  display: flex;
  flex-direction: column;
}

.center-wrapper {
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
